.header-inner, .menu, .logo, .menu-catalog, .header-info, .header-stuff{
    display: flex;
    flex-direction: row;
    align-items: center;
}
ul{
    display: none;
}
.menu{
    margin-right: 56px;
}
.header-inner{
    padding: 25px 0;
}
header{
    box-shadow: 0px 3px 84px rgba(0, 0, 0, 0.07);
    padding-top: 5px;
}
.logo{
    margin-right: 34px;
}
.logo-img{
    margin-right: 12px;
}
.logo-text, .header-link{
    font-weight: 700;
}
.logo-text{
    font-size: 20px;
}
.burger{
    max-width: 22px;
    height: 17px;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 14px;
}
.burger-span{
    background-color: #B798FF;
    width: 22px;
    height: 1px;
    
}
.burger::after{
    content: "";
    background-color: #B798FF;
    width: 22px;
    height: 1px;
    position: absolute;
    top: 0px;
}
.burger::before{
    content: "";
    background-color: #B798FF;
    width: 22px;
    height: 1px;
    position: absolute;
    bottom: 0px;
}
.burger-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-link{
    margin-right: 29px;
}
.header-time{
    margin-right: 65px;
    color: #8B8B8B;
}
.header-info{
    margin-right: 64px;
}
.header-search{
    border: 0;
    border-bottom: #8B8B8B 1px solid;
    color: #A8A8A8;
    max-width: 175px;
    margin-right: 69px;
    padding-bottom: 10px;
    padding-top: 13px;
    padding-right: 0;
    padding-left: 0;
}
.section-photo{
    margin-right: 7px;
}
.header-amount{
    font-size: 14px;
}
.Delivery{
    padding-top: 35px;
    margin-bottom: 14px;
}
.container h2{
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 26px;
}
.main-delivery{
    display: flex;
    flex-wrap: wrap;
}
.mini-section{
    max-width: 610px;
}
.mini-section, .mini-section-one{
    line-height: 30px;
    padding-top: 1px;
}
.mini-section h3, .mini-section-one h3{
    line-height: 19.5px;
}
.mini-section-one{
    max-width: 610px;
    margin-bottom: 36px;
    margin-right: 40px;
}
.mini-section h3, .mini-section-one h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
} 
.mini-section img, .mini-section-one img{
    margin-bottom: 14px;
}
.discount-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('../images/Rectangle\ 30\ \(1\).png');
    padding-bottom: 77px;
    padding-top: 79px;
}
.discount h1{
    color: #FFFFFFFF;
    margin-right: 31px;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
}
.discount-inner input{
    padding-top: 9px;
    padding-bottom: 12px;
    padding-left: 24px;
    text-align: left;
    font-size: 16px;
    margin-right: 20px;
    padding-right: 174px;
    max-width: 250px;
    font-size: 16px;
    border: 0;
    line-height: 30px;
}
.discount-inner button{
    padding-top: 9px;
    padding-bottom: 12px;
    padding-right: 21px;
    padding-left: 24px;
    background-color: #B798FF;
    text-align: center;
    border: 0;
    color: #FFFFFF;
    line-height: 30px;
}
.payment-inner{
    display: flex;
    flex-direction: column;
    margin-bottom: 59px;
    padding-top: 8px;
}
.main-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mini-div{
    max-width: 393px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 84px rgba(0, 0, 0, 0.07);
    line-height: 30px;
}
.mini-div .txt{
    padding-bottom: 36px;
    padding-left: 45px;
    padding-right: 39px;
    padding-top: 34px; 
}
.payment-inner h2{
    padding-top: 40px;
}
.mini-div h3{  
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}
.payment-inner p{
    padding-top: 8px;
}
footer{
    background-color: #F0F0F0;
    padding-top: 46px;
    padding-bottom: 50px;
    line-height: 20px;
    font-weight: 400;
}
.cont{
    display: flex;
    justify-content: space-between;
}
.small-div{
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
}
address{
    max-width: 242px;
    margin-right: 38px;
}
.two{
    max-width: 176px;
    margin-right: 35px;
}
.three{
    max-width: 624px;
}
.four{
    max-width: 70px;
    padding-top: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.four > img{
    padding-bottom: 6px;
}
li a{
    color: #927BC9;
}
.three p{
    color: #A8A8A8;
}
.two > .header-link{
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    margin: 0;
}
